.footerlist {
  margin-top: 20px;
  color: hwb(0 89% 7%);
  margin-left: -40px;
  .ul1 li:hover {
    color: #ff9100;
    cursor: pointer;
  }
}

.secondfooterlist {
  margin-top: 15px;
  color: hwb(0 89% 7%);
  margin-left: -40px;
  .ul2 li:hover {
    color: #ff9100;
    cursor: pointer;
  }
}

.thirdfooterlist {
  margin-top: 15px;
  color: hwb(0 89% 7%);
  margin-left: -40px;
  .ul3 li:hover {
    color: #ff9100;
    cursor: pointer;
  }
}

.fourthfooterlist {
  margin-top: 15px;
  color: hwb(0 89% 7%);
  margin-left: -40px;
  .ul4 li:hover {
    color: #ff9100;
    cursor: pointer;
  }
}

.faicon {
  display: flex;
  font-size: 30px;
  gap: 20px;
  height: 30px;
  color: #ff9100;
}

.icon1:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.icon2:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.icon3:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.icon4:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.footercopyright {
  color: #ff9100;
}
