/* .footerlist {
  margin-top: 30px;
  margin-left: 130px;
  color: gray;
}

.secondfooterlist {
  margin-top: 30px;
  margin-left: 500px;
  margin-top: -167px;
  color: gray;
}

.thirdfooterlist {
  margin-top: 30px;
  margin-left: 850px;
  margin-top: -167px;
  color: gray;
}

.fourthfooterlist {
  margin-top: 30px;
  margin-left: 1150px;
  margin-top: -113px;
  color: gray;
}
.footerbutton {
  margin-left: 130px;
  margin-top: 115px;
  margin-bottom: 30px;
}
.socialicons {
  margin: 15px;
  color: grey;
}
.footercopyright {
  margin-bottom: 60px;
  margin-left: 130px;
  color: gray;
}

.faicon {
  margin-left: 110px;
  font-size: 50px;
} */
