.drop {
  margin-top: 0px;
  margin-left: 580px;
  width: 120px;
}

.custom-select .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: hwb(0 89% 7%);
}

.custom-select .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: hwb(0 89% 7%);
}

.custom-select
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: hwb(0 89% 7%);
}
